In [ ]:
!pip install -U pandasql

In [ ]:
import pandas as pd
from pandasql import sqldf



## *Lectura del fichero con Pandas*

In [ ]:
# Read the dataframes
winter = pd.read_csv("datasets/winter.csv")
dictionary = pd.read_csv("datasets/dictionary.csv")

In [ ]:
# Define the function used for the queries
pysqldf = lambda q: sqldf(q, globals())



## WHERE
La cláusula WHERE se usa como filtro, para extraer solamente aquellos registros que cumplan una condición.

```SQL
SELECT column_name,column_name FROM table_name WHERE column_name operator value

```

In [ ]:
query = '''SELECT *
           FROM winter
           WHERE Country = 'ESP' '''

pysqldf(query)

In [ ]:
query = '''SELECT *
           FROM dictionary
           WHERE Code = 'FRA' '''

pysqldf(query)



**Ejercicios: Tabla winter** - diaposiitiva 34



*1. Mostrar toda la información de las pruebas realizadas en la ciudad de Sapporo*

In [ ]:
query = ''''''

pysqldf(query)



*2. Mostrar toda la información recogida para el deporte Skiing*

In [ ]:
query = ''''''

pysqldf(query)



*3. Mostrar el nombre de los atletas, la disciplina y su país para todos aquellos que obtuvieron medalla de oro*

In [ ]:
query = ''''''

pysqldf(query)

*Nota: para comprobar que estamos filtrando bien, podemos añadir la columna 'Medal' para ver que solo nos quedamos con los oros*

In [ ]:
query = ''''''

pysqldf(query)



*4. Mostrar el año, el deporte y la disciplina para todos aquellos juegos que no se celebraron en 1924*

In [ ]:
query = ''''''

pysqldf(query)



## AND & OR

Se pueden añadir varios filtros en la cláusula WHERE añadiendo los operadores lógicos:

* AND
* OR

In [ ]:
query = '''SELECT Athlete, Sport
           FROM winter
           WHERE Country = 'FRA' AND Year = 1928 '''

pysqldf(query)



**Ejercicios: Tabla winter** - diapositiva 36


*1. Mostrar toda la información de aquellos atletas de Italia que han ganado medallas de oro.*

In [ ]:
query = ''''''

pysqldf(query)



*2. Mostrar toda la información de aquellas atletas que sean mujeres (Women) y hayan ganado medallas de oro.*

In [ ]:
query = ''''''

pysqldf(query)



*3. Mostrar el deporte, el año y la ciudad en la que hayan participado atletas francesas.*

In [ ]:
query = ''''''

pysqldf(query)



*4. Mostrar toda la información de todos los juegos realizados después de 1980.*

In [ ]:
query = ''''''

pysqldf(query)



## NOT

El operador NOT invierte el valor de la condición a la que se antepone.

```SQL
SELECT column1, column2, ... FROM table_name WHERE NOT condition
```

In [ ]:
query = '''SELECT Athlete, Sport, Medal
           FROM winter
           WHERE NOT Medal = 'Gold' '''

pysqldf(query)



**Ejercicios: Tabla winter** - diapositiva 38



*1. Mostrar toda la información de aquellos atletas que no son de Alemania.*

In [ ]:
query = ''''''

pysqldf(query)



*2. Mostrar toda la información de aquellos atletas que son de Alemania y que participaron en el evento Ice Hockey.*

In [ ]:
query = ''''''

pysqldf(query)



*3. Mostrar toda la información de aquellos atletas que no son de Alemania ni de Suiza.*

In [ ]:
query = ''''''

pysqldf(query)

*El uso de paréntesis es muy importante a la hora de utilizar operadores AND, OR y NOT. La query de arriba puede ser reescrita como*

In [ ]:
query = ''''''

pysqldf(query)



## LIKE

El operador LIKE se usa en una cláusula WHERE para buscar un patrón específico en una columna. 

Hay dos comodines (WILDCARDS) utilizados en conjunción con el operador LIKE: 
* % : El signo de porcentaje representa cero, uno o varios caracteres 
* _  : El subrayado representa un único carácter

```SQL
SELECT column1, column2, ... FROM table_name WHERE columnN LIKE pattern

```

**Ejercicios: Tabla winter** - diapositiva 40



*1. Mostrar todos los países cuyo nombre empieza por “S”.*

In [ ]:
query = '''SELECT DISTINCT Country
           FROM winter
           WHERE Country LIKE 'S%' '''

pysqldf(query)



*2. Mostrar toda la información de aquellos atletas cuyo nombre contiene “son”.*

In [ ]:
query = ''''''

pysqldf(query)



*3. Mostrar toda la información de aquellos deportes que terminan por "ing".*

In [ ]:
query = ''''''

pysqldf(query)



*4. Mostrar toda la información de aquellos deportes en los que la segunda letra es una “u”.*

In [ ]:
query = ''''''

pysqldf(query)



*5. Mostrar el nombre de aquellos deportes que empiezan por S y terminan en g. Sin tener registros duplicados*

In [ ]:
query = ''''''

pysqldf(query)

     Sport
0  Skating
1   Skiing



## IN

El operador IN permite especificar varios valores en una cláusula WHERE.​

El operador in es un atajo para múltiples condiciones.​

```SQL 
SELECT column_name(s) FROM table_name WHERE column_name IN (value1, value2, ...)

SELECT column_name(s) FROM table_name WHERE column_name IN (SELECT STATEMENT)
```

In [ ]:
query = '''SELECT *
           FROM winter
           WHERE Year IN (2002, 1924) '''

pysqldf(query)



**Ejercicios: Tabla winter** - diapositiva 42



*1. Mostrar toda la información de los atletas de Alemania y Francia. Nota: utiliza IN, no AND*

In [ ]:
query = ''''''

pysqldf(query)



*2. Mostrar toda la información de los atletas de los deportes skating y curling.*

In [ ]:
query = ''''''

pysqldf(query)



*3. Mostrar toda la información de todos los atletas que no sean de USA ni Canadá (CAN).*

In [ ]:
query = ''''''

pysqldf(query)



*4. Mostrar toda la información de todos los atletas que no hayan ganado medalla de oro o plata.*

In [ ]:
query = ''''''

pysqldf(query)



*5. Mostrar toda la información de todos los atletas que sean de EEUU, Bélgica, Suiza o Gran Bretaña.*

In [ ]:
query = ''''''

pysqldf(query)



## BETWEEN

El operador BETWEEN selecciona los valores dentro de un rango determinado.


Los valores pueden ser números, texto o fechas.


El operador BETWEEN es incluyente para los valores numéricos: los valores de inicio y cierre están incluidos. Pero no lo es con los textos, en los que solo incluye el valor inicial.

```SQL
SELECT column_name(s) FROM table_name WHERE column_name BETWEEN value1 AND value2
```

In [ ]:
query = '''SELECT *
           FROM winter
           WHERE Year BETWEEN 2000 AND 2010 '''

pysqldf(query)



**Ejercicios: Tabla dictionary** - diapositiva 44



*1. Mostrar toda la información de aquellos países con una población entre 100.000 y 200.000 habitantes.*

In [ ]:
query = ''''''

pysqldf(query)



*2. Mostrar toda la información de aquellos países con un GDP per Capita entre 100 y 1000.*

In [ ]:
query = ''''''

pysqldf(query)



*3. Mostrar toda la información de aquellos países que empiezan por A y B*

In [ ]:
query = ''''''

pysqldf(query)



## ORDER BY

La cláusula ORDER BY se utiliza para ordenar el conjunto de resultados en orden ascendente o descendente.

ORDER BY ordena los registros en orden ascendente de forma predeterminada.

Para ordenar los registros en orden descendente, utilice la palabra clave DESC.

```SQL 
SELECT column1, column2, ... FROM table_name ORDER BY column1, column2, ... ASC|DESC
```

In [ ]:
query = '''SELECT *
           FROM dictionary
           ORDER BY GDP ASC'''

pysqldf(query)

In [ ]:
query = '''SELECT *
           FROM dictionary
           ORDER BY GDP DESC'''

pysqldf(query)




**Ejercicios: Tabla dictionary** - diapositiva 46



*1. Mostrar toda la información de todos los países ordenados por población.*

In [ ]:
query = ''''''

pysqldf(query)



*2. Mostrar toda la información de todos los países ordenados por población y por país.*

In [ ]:
query = ''''''

pysqldf(query)



*3. Mostrar toda la información de todos los países ordenados por código de país en orden alfabético inverso.*

In [ ]:
query = ''''''

pysqldf(query)



*4. Mostrar toda la información de todos los países ordenados por población en orden ascendente y por GDP en orden descendente.*

In [ ]:
query = ''''''

pysqldf(query)



## NULL

Un campo con un valor NULL es un campo sin ningún valor.

In [ ]:
query = '''SELECT *
           FROM dictionary
           WHERE Population IS NULL'''

pysqldf(query)



**Ejercicios: Tabla dictionary** - diapositiva 48



*1. Mostrar el nombre de país y el GDP de aquellos países es que contengan valores nulos en la población.*

In [ ]:
query = ''''''

pysqldf(query)



*2. Mostrar el nombre de país y la población de aquellos países es que no contengan valores nulos en GDP.*

In [ ]:
query = ''''''

pysqldf(query)

*3. Mostrar toda la inforación de aquellos países que no tengan nulos ni en GDP ni en Population*

In [ ]:
query = ''''''

pysqldf(query)