In [ ]:
!pip install -U pandasql

In [ ]:
import pandas as pd
from pandasql import sqldf

In [ ]:
pokemon = pd.read_csv("datasets/pokemon.csv")

In [ ]:
# Define the function used for the queries
pysqldf = lambda q: sqldf(q, globals())

## Estos ejercicios se realizan con el dataset: **Pokemon.csv**

In [ ]:
query = '''SELECT *
           FROM pokemon'''

pysqldf(query)



## Bloque 1

Escribir una consulta que muestre los nombres y tipología pincipal (Type_1) de los pokemons, utilizando como alias 'Nombre' y 'Tipo'.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener los valores únicos de tipologías principales de la tabla.

In [ ]:
query = ''''''

pysqldf(query)

Escribir una consulta para obtener las combinaciones únicas de las dos tipologías de pokemon de la tabla.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener todos los detalles de cada pokemon de la tabla ordenados por nombre, orden descendente.

In [ ]:
query = ''''''

pysqldf(query)

Escribir una consulta para obtener el nombre y la vida (HP) que les quedaría si les quitasen 50 puntos.

In [ ]:
query = ''''''

pysqldf(query)

Escribir una consulta que muestre: el nombre y la tipología principal en una misma columna, y el ataque en orden ascendente de ataque.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el  nombre y el ataque de aquellos pokemons con una vida superior a 50.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el nombre, ataque y defensa de los pokemons que no sean de tipo Veneno como tipología principal.

In [ ]:
query = ''''''

pysqldf(query)



# Bloque 2

Escribir una consulta para obtener el número de pokemons diferentes en la tabla.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el valor total de defensa de todos los pokemons.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el valor más bajo de defensa de la tabla.

In [ ]:
query = ''''''

pysqldf(query)

Nombre del pokemon con menor ataque. Nota: se puede hacer con SUBSELECTS o sin ellos

In [ ]:
query = ''''''

pysqldf(query)

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el máximo valor de ataque de un pokemon de tipo Agua.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el ataque promedio y el número de pokemons de tipo Fuego.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el máximo, el mínimo, la suma y el promedio de ataque de todos los pokemons.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el número de pokemons de la misma generación. Ordena el resultado de mayor a menor para saber de qué generación hay más pokemons

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el ataque especial máximo y la mínimo.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener la generación y los puntos de vida del pokemon con menos vida de cada generación.

In [ ]:
query = ''''''

pysqldf(query)

Obtener el valor de ataque más bajo de cada generación

In [ ]:
query = ''''''

pysqldf(query)

Escribir una consulta para obtener el ataque promedio para cada tipología principal de pokemon y ordénalos de menor a mayor ataque.

In [ ]:
query = ''''''

pysqldf(query)



Escribir una consulta para obtener el ataque especial promedio (redondeado a dos decimales) para cada tipo de pokemon excluyendo a los de la generación 6, y ordénalos se mayor a menor

In [ ]:
query =  ''''''

pysqldf(query)


Escribir una consulta para obtener el nombre, tipo, generación y vida de los pokemons cuya vida sea igual o superior a 150

In [ ]:
query =  ''''''

pysqldf(query)


Escribir una consulta para obtener la vida máxima para cada tipología de pokemon, incluyendo sólo aquellos pokemon cuya vida sea igual o superior a 150.

In [ ]:
query =  ''''''

pysqldf(query)

Escribir una consulta para obtener la vida promedio para cada tipología de pokemon, incluyendo sólo aquellos pokemon cuya vida sea igual o superior a 150.

In [ ]:
query =  ''''''

pysqldf(query)

Escribir una consulta para mostrar la vida promedio por cada tipología principal, siempre que este promedio sea superior a 75.

In [ ]:
query =  ''''''

pysqldf(query)



Escribir una consulta para obtener el ataque promedio para todos los tipos que tengan a más de 50 pokemons.

In [ ]:
query =  ''''''

pysqldf(query)